/* line 3, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 10, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
body {
  min-width: 630px;
  font-family: sans-serif; }

/* line 15, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
header {
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }

/* line 20, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.mm-menu {
  position: relative;
  z-index: 99;
  margin: 0 auto;
  width: 100%;
  min-width: 630px;
  max-width: 1000px;
  text-align: center;
  font-size: 0; }

/* line 31, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
[class*=item] {
  min-width: 125px;
  padding: 0 19.8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.22rem;
  color: #ff8000;
  transition: 0.3s; }

/* line 41, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.mm-item {
  display: inline-block;
  background: #fff;
  width: 25%;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9b9b9b;
  font-weight: 100;
  font-size: 16px; }

/* line 53, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
[class*=item]:hover {
  background: white;
  color: #ff8000; }

/* line 58, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.dd-menu {
  position: absolute;
  width: 25%;
  z-index: -1;
  top: -400px;
  padding-top: 0.3em;
  margin-left: -19.8px;
  transition: 0.3s ease-in-out; }

/* line 69, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.mm-item:hover > .dd-menu, .mm-item:focus > .dd-menu {
  top: 60px;
  border-radius: 6px; }

/* line 76, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.dd-item {
  display: block;
  background: #ff8000;
  line-height: 36px;
  font-size: 85%;
  width: 100%;
  color: #fff; }

/* line 85, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.logo {
  width: 50px;
  height: 60px;
  margin-left: 2em;
  position: absolute;
  vertical-align: middle;
  z-index: 9; }

/* line 94, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.donate {
  height: 40px;
  width: 50px;
  margin-left: 2em;
  position: absolute;
  background-color: #ff8000;
  border-radius: 6px;
  color: #fff; }

/* Footer ----------------------------------- */
/* line 108, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
a div {
  /* for troubleshooting 
  border-style: dotted;
  border-width: 1px; */ }

/* line 114, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.footercontainer {
  width: 100%;
  background: #000;
  box-shadow: -25px 0 0 #353c45, 50px 0 0 #353c45;
  overflow: hidden; }

/* line 121, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.thefooter {
  display: table;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  height: 100%;
  padding-bottom: 25px;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Lato, Verdana, sans-serif;
  font-size: 11.5px;
  color: #d2d1d2;
  line-height: 22px; }

/* line 138, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.thefooter a {
  text-decoration: none;
  color: #d2d1d2;
  transition: 100ms color;
  transition-duration: 100ms; }

/* line 145, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.thefooter a:hover {
  color: #ff651b;
  transition: 100ms color;
  transition-duration: 100ms; }

/* line 151, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.footercontent {
  vertical-align: top;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px; }

/* line 159, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.footertitle {
  font-size: 15px;
  text-transform: uppercase; }

/* line 164, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.nav-column {
  width: 105px; }

/* line 168, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
a.button {
  margin-bottom: 10px;
  background-color: #ff661c;
  font-size: 1.1em;
  width: auto;
  transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  color: #fff; }

/* line 179, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
a.button:hover {
  background-color: #ff8147;
  color: #fff;
  transition: 100ms;
  -moz-transition: 100ms;
  -webkit-transition: 100ms; }

/* line 187, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.button {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  cursor: pointer; }

/* line 198, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.cta {
  padding: 3px 10px 3px 10px;
  float: left; }

/* line 203, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.arrow {
  background-color: #667;
  padding: 3px 6px 3px 6px;
  float: left; }

/* line 209, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.contact-column {
  width: 125px; }

/* line 213, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.copyright {
  width: 100%;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px; }

/* line 220, /Users/evangrice/Documents/Graphic Design Semester 6/Web Development/the-lunchbox-fund/scss/components/main */
.menu-buttons {
  border: 1px solid white;
  padding: 0.25em 1em;
  text-align: center; }
