/* line 1, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.grid {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

/* line 12, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.grid-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: end;
      align-items: flex-end; }

/* line 18, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.grid-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center; }

/* line 24, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.grid-stretch {
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
      align-items: stretch; }

/* line 30, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.opera-only :-o-prefocus, .grid {
  word-spacing: -0.43em; }

/* line 34, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible; }

/* line 43, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.grid-bottom .unit {
  vertical-align: bottom; }

/* line 47, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.grid-middle .unit {
  vertical-align: middle; }

/* line 52, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit[class*="push-"], .unit[class*="pull-"] {
  position: relative; }

/* line 56, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-hidden {
  display: none;
  visibility: hidden; }

/* line 61, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-centered {
  margin: 0 auto; }

/* line 65, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-1, .xs-1 {
  display: block;
  visibility: visible;
  width: 100%; }

/* line 71, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-offset-xs-0 {
  margin-left: 0; }

/* line 76, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-push-xs-0, .unit-pull-xs-0 {
  left: 0; }

/* line 80, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-1-2, .xs-1-2 {
  width: 50%; }

/* line 84, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-offset-xs-1-2 {
  margin-left: 50%; }

/* line 88, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-push-xs-1-2 {
  left: 50%; }

/* line 92, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-pull-xs-1-2 {
  left: -50%; }

/* line 96, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-1-3, .xs-1-3 {
  width: 33.3333%; }

/* line 100, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-offset-xs-1-3 {
  margin-left: 33.3333%; }

/* line 104, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-push-xs-1-3 {
  left: 33.3333%; }

/* line 108, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-pull-xs-1-3 {
  left: -33.3333%; }

/* line 112, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-2-3, .xs-2-3 {
  width: 66.6667%; }

/* line 116, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-offset-xs-2-3 {
  margin-left: 66.6667%; }

/* line 120, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-push-xs-2-3 {
  left: 66.6667%; }

/* line 124, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-pull-xs-2-3 {
  left: -66.6667%; }

/* line 128, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-1-4, .xs-1-4 {
  width: 25%; }

/* line 132, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-offset-xs-1-4 {
  margin-left: 25%; }

/* line 136, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-push-xs-1-4 {
  left: 25%; }

/* line 140, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-pull-xs-1-4 {
  left: -25%; }

/* line 144, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-3-4, .xs-3-4 {
  width: 75%; }

/* line 148, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-offset-xs-3-4 {
  margin-left: 75%; }

/* line 152, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-push-xs-3-4 {
  left: 75%; }

/* line 156, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-pull-xs-3-4 {
  left: -75%; }

/* line 160, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-xs-1-2, .xs-1-2, .unit-xs-1-3, .xs-1-3, .unit-xs-2-3, .xs-2-3, .unit-xs-1-4, .xs-1-4, .unit-xs-3-4, .xs-3-4 {
  display: inline-block;
  visibility: visible; }

@media only screen and (min-width: 25em) {
  /* line 167, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-hidden {
    display: none;
    visibility: hidden; }

  /* line 172, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-centered {
    margin: 0 auto; }

  /* line 176, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-1, .s-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 182, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-s-0 {
    margin-left: 0; }

  /* line 187, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-s-0, .unit-pull-s-0 {
    left: 0; }

  /* line 191, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-1-2, .s-1-2 {
    width: 50%; }

  /* line 195, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-s-1-2 {
    margin-left: 50%; }

  /* line 199, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-s-1-2 {
    left: 50%; }

  /* line 203, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-s-1-2 {
    left: -50%; }

  /* line 207, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-1-3, .s-1-3 {
    width: 33.3333%; }

  /* line 211, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-s-1-3 {
    margin-left: 33.3333%; }

  /* line 215, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-s-1-3 {
    left: 33.3333%; }

  /* line 219, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-s-1-3 {
    left: -33.3333%; }

  /* line 223, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-2-3, .s-2-3 {
    width: 66.6667%; }

  /* line 227, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-s-2-3 {
    margin-left: 66.6667%; }

  /* line 231, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-s-2-3 {
    left: 66.6667%; }

  /* line 235, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-s-2-3 {
    left: -66.6667%; }

  /* line 239, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-1-4, .s-1-4 {
    width: 25%; }

  /* line 243, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-s-1-4 {
    margin-left: 25%; }

  /* line 247, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-s-1-4 {
    left: 25%; }

  /* line 251, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-s-1-4 {
    left: -25%; }

  /* line 255, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-3-4, .s-3-4 {
    width: 75%; }

  /* line 259, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-s-3-4 {
    margin-left: 75%; }

  /* line 263, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-s-3-4 {
    left: 75%; }

  /* line 267, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-s-3-4 {
    left: -75%; }

  /* line 271, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-s-1-2, .s-1-2, .unit-s-1-3, .s-1-3, .unit-s-2-3, .s-2-3, .unit-s-1-4, .s-1-4, .unit-s-3-4, .s-3-4 {
    display: inline-block;
    visibility: visible; }
 }

@media only screen and (min-width: 38em) {
  /* line 280, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-hidden {
    display: none;
    visibility: hidden; }

  /* line 285, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-centered {
    margin: 0 auto; }

  /* line 289, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-1, .m-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 295, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-m-0 {
    margin-left: 0; }

  /* line 300, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-m-0, .unit-pull-m-0 {
    left: 0; }

  /* line 304, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-1-2, .m-1-2 {
    width: 50%; }

  /* line 308, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-m-1-2 {
    margin-left: 50%; }

  /* line 312, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-m-1-2 {
    left: 50%; }

  /* line 316, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-m-1-2 {
    left: -50%; }

  /* line 320, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-1-3, .m-1-3 {
    width: 33.3333%; }

  /* line 324, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-m-1-3 {
    margin-left: 33.3333%; }

  /* line 328, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-m-1-3 {
    left: 33.3333%; }

  /* line 332, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-m-1-3 {
    left: -33.3333%; }

  /* line 336, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-2-3, .m-2-3 {
    width: 66.6667%; }

  /* line 340, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-m-2-3 {
    margin-left: 66.6667%; }

  /* line 344, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-m-2-3 {
    left: 66.6667%; }

  /* line 348, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-m-2-3 {
    left: -66.6667%; }

  /* line 352, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-1-4, .m-1-4 {
    width: 25%; }

  /* line 356, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-m-1-4 {
    margin-left: 25%; }

  /* line 360, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-m-1-4 {
    left: 25%; }

  /* line 364, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-m-1-4 {
    left: -25%; }

  /* line 368, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-3-4, .m-3-4 {
    width: 75%; }

  /* line 372, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-m-3-4 {
    margin-left: 75%; }

  /* line 376, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-m-3-4 {
    left: 75%; }

  /* line 380, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-m-3-4 {
    left: -75%; }

  /* line 384, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-m-1-2, .m-1-2, .unit-m-1-3, .m-1-3, .unit-m-2-3, .m-2-3, .unit-m-1-4, .m-1-4, .unit-m-3-4, .m-3-4 {
    display: inline-block;
    visibility: visible; }
 }

@media only screen and (min-width: 60em) {
  /* line 393, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-hidden {
    display: none;
    visibility: hidden; }

  /* line 398, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-centered {
    margin: 0 auto; }

  /* line 402, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-1, .l-1 {
    display: block;
    visibility: visible;
    width: 100%; }

  /* line 408, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-l-0 {
    margin-left: 0; }

  /* line 413, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-l-0, .unit-pull-l-0 {
    left: 0; }

  /* line 417, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-1-2, .l-1-2 {
    width: 50%; }

  /* line 421, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-l-1-2 {
    margin-left: 50%; }

  /* line 425, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-l-1-2 {
    left: 50%; }

  /* line 429, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-l-1-2 {
    left: -50%; }

  /* line 433, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-1-3, .l-1-3 {
    width: 33.3333%; }

  /* line 437, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-l-1-3 {
    margin-left: 33.3333%; }

  /* line 441, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-l-1-3 {
    left: 33.3333%; }

  /* line 445, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-l-1-3 {
    left: -33.3333%; }

  /* line 449, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-2-3, .l-2-3 {
    width: 66.6667%; }

  /* line 453, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-l-2-3 {
    margin-left: 66.6667%; }

  /* line 457, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-l-2-3 {
    left: 66.6667%; }

  /* line 461, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-l-2-3 {
    left: -66.6667%; }

  /* line 465, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-1-4, .l-1-4 {
    width: 25%; }

  /* line 469, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-l-1-4 {
    margin-left: 25%; }

  /* line 473, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-l-1-4 {
    left: 25%; }

  /* line 477, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-l-1-4 {
    left: -25%; }

  /* line 481, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-3-4, .l-3-4 {
    width: 75%; }

  /* line 485, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-offset-l-3-4 {
    margin-left: 75%; }

  /* line 489, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-push-l-3-4 {
    left: 75%; }

  /* line 493, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-pull-l-3-4 {
    left: -75%; }

  /* line 497, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
  .unit-l-1-2, .l-1-2, .unit-l-1-3, .l-1-3, .unit-l-2-3, .l-2-3, .unit-l-1-4, .l-1-4, .unit-l-3-4, .l-3-4 {
    display: inline-block;
    visibility: visible; }
 }

/* line 504, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

/* line 519, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.content-fill {
  -ms-flex-grow: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
      flex-grow: 2; }

/* line 525, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/grid */
.content-shrink {
  -ms-align-self: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

/* line 3, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 10, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
body {
  font-family: sans-serif; }

/* line 14, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
header {
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }

/* line 19, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.mm-menu {
  position: relative;
  z-index: 99;
  margin: 0 auto;
  width: 100%;
  min-width: 630px;
  max-width: 1000px;
  text-align: center;
  font-size: 0; }

/* line 30, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
[class*=item] {
  min-width: 125px;
  padding: 0 19.8px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  color: #ff8000;
  transition: 0.3s; }

/* line 40, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.mm-item {
  display: inline-block;
  background: #fff;
  width: 25%;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9b9b9b;
  font-weight: 400;
  font-size: 14px; }

/* line 52, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
[class*=item]:hover {
  background: white;
  color: #ff8000; }

/* line 57, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.dd-menu {
  position: absolute;
  width: 25%;
  z-index: -1;
  top: -400px;
  margin-left: -19.8px;
  transition: 0.35s ease-in-out; }

/* line 67, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.mm-item:hover > .dd-menu, .mm-item:focus > .dd-menu {
  top: 60px;
  border-radius: 6px; }

/* line 74, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.dd-item {
  display: block;
  background: #ff8000;
  line-height: 36px;
  font-size: 85%;
  width: 100%;
  color: #fff; }

/* line 83, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.logo {
  width: 60px;
  height: 70px;
  margin-left: 2em;
  margin-top: -0.2em;
  position: absolute;
  vertical-align: middle;
  z-index: 9; }

/* line 93, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.donate {
  color: #ff8000;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  height: 35px;
  width: 40px;
  line-height: 40px;
  margin: auto;
  margin-top: 0.9em;
  margin-left: 2em;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ff8000;
  border-radius: 6px; }

/* line 112, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.donate:hover {
  background: #ff8000;
  color: #fff; }

/* Footer ----------------------------------- */
/* line 119, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #434244;
  padding: 1rem;
  color: white; }
  /* line 128, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
  footer .quicklinks {
    list-style-type: none; }

/* line 133, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
li {
  list-style-type: none; }

/* line 137, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
a {
  text-decoration: none; }

/* line 141, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.menu-buttons {
  border: 1px solid white;
  border-radius: 5px;
  width: 1em;
  padding: 0.25em 1em;
  text-align: center;
  color: #ccc;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none; }

/* line 155, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.menu-buttons:hover {
  border: 1px solid white;
  padding: 0.25em 1em;
  text-align: center;
  color: #fff;
  text-transform: uppercase; }

/* line 164, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.bottom-nav-title {
  text-transform: uppercase;
  font-size: 16px; }

/* line 169, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.25em 1em;
  text-align: center;
  color: #ccc;
  text-transform: uppercase;
  text-decoration: none; }

/* line 181, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.button:hover {
  border: 1px solid white;
  padding: 0.25em 1em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  transition-duration: 100ms; }

/* line 190, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.bucket {
  padding: 2em; }

/* line 194, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.bucket li {
  padding-top: 1em; }

/* line 198, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.light {
  font-weight: 300; }

/* line 202, /Users/hasanyavuz91/Desktop/The Lunchbox Fund/the-lunchbox-fund/scss/components/main */
.landing {
  background: transparent url("../images/african-baby.jpg") no-repeat center top;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background-size: cover;
  position: relative;
  padding: 21em 0;
  text-align: center; }
