$mm-item-count: 4;
$mm-item-width: 100%;
$menu-height: 60px;
$menu-height: 0.33;
$mm-bg: #fff;
$dd-bg: #ff8000;
$dd-text-color: #fff;
$dd-text-hover-color: hsl(30, 100%, 50%);
$item-hover: lighten($mm-bg, 4%);
$mm-item-text-color: #9b9b9b;
$dark-grey: #434244;


$white: #fff;
$dark: #303030;
$highlight: #ff8000;