.banner {
    width: 100%;
    text-align: center;
    padding: 8rem 1rem;
    display: block;
    h1, p {
        @include zero;
        color: #000;
    }
}

.banner-mini {
    padding: 2rem 1rem;
    position: relative;
    p {
        @include zero;
    }
}

.link-banner-mini {
    color: #fff;
    padding: 2rem 1rem;
    position: relative;
    p {
        @include zero;
    }
}

.link-banner-mini:after {
    content: '';
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    transition: all 200ms linear;
}

.link-banner-mini:hover:after {
    background-color: rgba(0,0,0,0.0);
}

@media only screen and (min-width: 38em) {
    .banner {
        padding: 8rem;
    }
    
    .banner-mini, .link-banner-mini {
        padding: 3rem 1rem;
    }
}

.class-1 {
    @include bgcover(url(http://placehold.it/1000x600));
}

.class-2 {
    @include bgcover(url(http://placehold.it/1000x200));
}

.class-3 {
    @include bgcover(url(http://placehold.it/1000x800/4cc691/4cc691));
}


.african-child {
    @include bgcover(url(../../images/african-baby.jpg));
    padding: 14rem 0; /* this padding modifies the height of the banner */
    h1 {
        color: $white;
    }
}
    
.single-child-classroom {
    @include bgcover(url(../../images/single-child-classroom.jpg));
    padding: 14rem 0;
    h1 {
        color: $white;
    }
}

.intro-banner {
    @include bgcover(url(../../images/intro-banner.jpg));
    padding: 14rem 0;
    h1 {
        color: $white;
    }
}