header {
    width: 100%;
    background-color: $white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.logo-link {
    width: 20%;
    background-image: url(../../assets/lunchbox-logo-symbol.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 72px;
}
 
.mm-menu {
  position: relative;
  z-index: 99;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-size: 0;
}
 
[class*=item] {
  cursor: pointer;
  transition: .3s;
}

.mm-item {
    display: inline-block;
    background: $highlight;
    width: 33.33%;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    font-size: 0.9rem;
    position: relative;
}

[class*=item]:hover {
  background: $highlight-dark;
}

.dd-menu {
    position: absolute;
    left:0;
    right: 0;
    z-index: -1;
    top: -13rem;
    transition: .35s ease-in-out;
}

.mm-item:hover > .dd-menu,
.mm-item:focus > .dd-menu {
  top: 4rem;
}

.dd-item {
    display: block;
    background: orange;
    line-height: 3;
    color: white;
}