<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link href="css/style.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>
 
 <!-- http://codepen.io/shswanson/pen/rldLz -->

  <header>
      
    <a href="#top" class="logo-link"><img class="logo" src="assets/lunchbox-logo-symbol.svg" alt=""/></a>
      
    <nav class='mm-menu'>
  
      <div class='mm-item'>Who We Are
       <div class='dd-menu'>
        <a href='' class='dd-item'>What We Do</a>
        <a href='' class='dd-item'>Where We Give</a>
        <a href='' class='dd-item'>Our Team</a>
        <a href='' class='dd-item'>Board of Directors</a>
        <a href='' class='dd-item'>Corporate Partners</a>
        <a href='' class='dd-item'>2012 Annual Report - SA</a>
       </div>
      </div>
  
     <div class='mm-item'>Get Involved
      <div class='dd-menu'>
       <a href='' class='dd-item'>Donate</a>
       <a href='' class='dd-item'>Partner With Us</a>
       <a href='' class='dd-item'>Volunteer</a>
       </div>
     </div>
  
     <div class='mm-item'>News & Blog
      <div class='dd-menu'>
       <a href='' class='dd-item'>News</a>
       <a href='' class='dd-item'>Blog</a>
       <a href='' class='dd-item'>Art</a>
      </div>
     </div>
  
    <div class='mm-item donate'>Donate</div>
        
  </nav>
  
</header>
    
  <section class="landing" id="top"></section>

{{content}}	

<footer class="grid">
  <div class="bucket unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <p class="light">Fostering education via nutrition, The Lunchbox Fund is a non-profit organization dedicated to providing a daily meal for orphaned and vulnerable school children in township and rural areas of South Africa, a country where 65% of all children live in poverty.</p>
  </div>  

  <div class="bucket unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <p>132 Oxford Road, Melrose, Johannesburg, 2001 SOUTH AFRICA</p>
    <p class="light">P: 613.555.1234</p>
    <p class="light">E: info@thelunchboxfund.org</p>
  </div>
    
  <ul class="bucket quicklinks unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <li><a href="#" class="menu-buttons">Donate</a></li>
    <li><a href="#" class="menu-buttons">Volunteer</a></li>
    <li><a href="#" class="menu-buttons">Partner with Us</a></li>
    <li><a href="#" class="menu-buttons">Corporate Partners</a></li>
  </ul>

  <div class="bucket contact-column unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <p class="bottom-nav-title">Join Mail List</p>
    <p class="light">E-mail address</p>
    <p class="light">Name</p>
    <ul>
      <li><a href="#" class="menu-buttons">Join</a></li>
    </ul>
  </div>

</footer>

</body>
</html>
