<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link href="css/style.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
    <div class="logo-link"><a href="index.html">show</a></div>
    <nav class='mm-menu'>
        <div class='mm-item'><a class="mm-link" href="{{site.baseurl}}/who-we-are.html">Who We Are</a>
            <div class='dd-menu'>
                <a href='{{site.baseurl}}/who-we-are.html#who-we-are' class='dd-item'>What We Do</a>
                <a href='{{site.baseurl}}/who-we-are.html#where-we-give' class='dd-item'>Where We Give</a>
                <a href='{{site.baseurl}}/who-we-are.html#our-team' class='dd-item'>Our Team</a>
                <a href='{{site.baseurl}}/who-we-are.html#board-of-directors' class='dd-item'>Board of Directors</a>
                <a href='{{site.baseurl}}/who-we-are.html#corporate-partners' class='dd-item'>Corporate Partners</a>
                <a href='{{site.baseurl}}/assets/annual-report.pdf' class='dd-item'>2012 Annual Report</a>
            </div>
        </div>
         <div class='mm-item' href='get-involved.html'><a class="mm-link" href="{{site.baseurl}}/get-involved.html">Get Involved</a>
            <div class='dd-menu'>
                <a href='{{site.baseurl}}/get-involved.html#donate' class='dd-item'>Donate</a>
                <a href='{{site.baseurl}}/get-involved.html#partner-with-us' class='dd-item'>Partner With Us</a>
                <a href='{{site.baseurl}}/get-involved.html#volunteer' class='dd-item'>Volunteer</a>
                <a href='{{site.baseurl}}/login.html' class='dd-item'>User Login</a>
            </div>
         </div>
         <div class='mm-item'><a class="mm-link" href="{{site.baseurl}}/news-blog.html">News & Blog</a>
            <div class='dd-menu'>
                <a href='{{site.baseurl}}/news-blog.html#news' class='dd-item'>News</a>
                <a href='{{site.baseurl}}/news-blog.html#blog' class='dd-item'>Blog</a>
                <a href='{{site.baseurl}}/news-blog.html#art' class='dd-item'>Art</a>
            </div>
         </div>
    </nav>
    <div class="donate">
        <a href="{{site.baseurl}}/get-involved.html#donate">Donate</a>
    </div>
</header>

{{content}}	

<div class="social">
   <ul class="grid social-list">
    <li class="unit unit-xs-1 unit-s-1 m-1-3 unit-l-1-3">
      <a href="{{site.baseurl}}/https://www.facebook.com/thelunchboxfund?v=wall" class="social-facebook"><img class="flex-img" src="{{site.baseurl}}/../assets/facebook-icon.svg"></a>
    </li>
    <li class="unit unit-xs-1 unit-s-1 m-1-3 unit-l-1-3">
      <a href="{{site.baseurl}}/https://twitter.com/thelunchboxfund" class="social-twitter"><img class="flex-img" src="{{site.baseurl}}/../assets/twitter-icon.svg"></a>
    </li>
    <li class="unit unit-xs-1 unit-s-1 m-1-3 unit-l-1-3">
      <a href="{{site.baseurl}}/https://www.youtube.com/user/TheLunchboxFund" class="social-youtube"><img class="flex-img" src="{{site.baseurl}}/../assets/youtube-icon.svg"></a>
    </li>
  </ul>
</div>

<footer class="grid">
    <div class="bucket unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
        <p class="light">Fostering education via nutrition, The Lunchbox Fund is a non-profit organization dedicated to providing a daily meal for orphaned and vulnerable school children in township and rural areas of South Africa, a country where 65% of all children live in poverty.</p>
    </div>  

    <div class="bucket unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
        <p>132 Oxford Road, Melrose, Johannesburg, 2001 SOUTH AFRICA</p>
        <p class="light">P: 613.555.1234</p>
        <p class="light">E: info@thelunchboxfund.org</p>
    </div>

    <ul class="bucket quicklinks unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
        <li><a href="{{site.baseurl}}/get-involved.html#donate" class="menu-buttons reverse-button">Donate</a></li>
        <li><a href="{{site.baseurl}}/get-involved.html#volunteer" class="menu-buttons reverse-button">Volunteer</a></li>
        <li><a href="{{site.baseurl}}/get-involved.html#partner-with-us" class="menu-buttons reverse-button">Partner with Us</a></li>
        <li><a href="{{site.baseurl}}/who-we-are.html#corporate-partners" class="menu-buttons reverse-button">Corporate Partners</a></li>
    </ul>

    <div class="bucket contact-column unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
        <form action="demo_form.asp">
          Name: <input class="footer-form footer-name-form" type="text" name="name"><br>
          Email: <input class="footer-form" type="text" name="email"><br>
        </form>
        <ul>
            <li><a href="login.html" class="menu-buttons reverse-button join-footer">Join</a></li>
        </ul>
    </div>
</footer>

<p class="copyright">Copyright © 2015 The Lunchbox Fund. All Rights Reserved.</p>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//use.typekit.net/zvh6lvj.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script src="js/jquery.fitvids.js"></script>
<script>
  $(document).ready(function(){
    $('.flex-vid').fitVids();
  });
</script>