<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link href="css/style.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    
  <header>
      
    <a href="#top" class="logo-link"><img class="logo" src="assets/lunchbox-logo-symbol.svg" alt=""/></a>
      
    <nav class='mm-menu'>
  
      <div class='mm-item'>Who We Are
       <div class='dd-menu'>
        <a href='' class='dd-item'>What We Do</a>
        <a href='' class='dd-item'>Where We Give</a>
        <a href='' class='dd-item'>Our Team</a>
        <a href='' class='dd-item'>Board of Directors</a>
        <a href='' class='dd-item'>Corporate Partners</a>
        <a href='' class='dd-item'>2012 Annual Report - SA</a>
       </div>
      </div>
  
     <div class='mm-item'>Get Involved
      <div class='dd-menu'>
       <a href='' class='dd-item'>Donate</a>
       <a href='' class='dd-item'>Partner With Us</a>
       <a href='' class='dd-item'>Volunteer</a>
       </div>
     </div>
  
     <div class='mm-item'>News & Blog
      <div class='dd-menu'>
       <a href='' class='dd-item'>News</a>
       <a href='' class='dd-item'>Blog</a>
       <a href='' class='dd-item'>Art</a>
      </div>
     </div>
  
    <div class='mm-item donate'>Donate</div>
        
  </nav>
  
</header>

{{content}}	

<footer class="grid">
  <div class="unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <p>Fostering education via nutrition, The Lunchbox Fund is a non-profit organization dedicated to providing a daily meal for orphaned and vulnerable school children in township and rural areas of South Africa, a country where 65% of all children live in poverty.</p>
  </div>  

  <div class="unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <p>132 Oxford Road, Melrose, Johannesburg, 2001 SOUTH AFRICA</p>
    <p>P: 613.555.1234</p>
    <p>E: info@thelunchboxfund.org</p>
  </div>
    
  <ul class="quicklinks unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <li><a href="applications/cost-transparency" class="menu-buttons">Donate</a></li>
    <li><a href="applications/it-benchmarking" class="menu-buttons">Volunteer</a></li>
    <li><a href="applications/business-insights" class="menu-buttons">Partner with Us</a></li>
    <li><a href="applications/bill-of-it" class="menu-buttons">Corporate Partners</a></li>
  </ul>

  <div class="contact-column unit unit-xs-1 unit-s-1 m-1-2 unit-l-1-4">
    <p>Join Mail List</p>
    <p>E-mail address</p>
    <p>Name</p>
    <a class="button" href="/get-started"><div class="menu-buttons">Join</div></a>
  </div>

</footer>

</body>
</html>
